<div class="container">
  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <h2>Discounts</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Threshold</th> 
          <th>Equator</th>
          <th>Amount</th>
          <th></th>
          <th></th>
        </tr>
        <% @discounts.each do |discount|%>
          <tr>
          <td><%= discount.name %></td>
          <td><%= discount.threshold %></td>
          <td><%= discount.equator %></td>
          <td><%= discount.amount %></td>
          <td><%= link_to 'Edit', discount_path(discount) %></td>
          <td><%=link_to "Delete", discount, method: :delete, class: "delete_button"%>
        </tr>
        <% end %>
      </table>
        <button type="button" class="btn btn-primary"><%= link_to 'Add Discount', new_discount_path, {:style=>'color:white;', :class => "css_class"}%></button>
    </div>
  </div>
</div>


